<a href="https://colab.research.google.com/github/christianabusca/serpentoncode/blob/main/Python_Journey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **BEGINNER PYTHON FOR DEVS**

In [ ]:
def mystery_function1(word):
  vowels = ['a', 'e', 'i', 'o', 'u']
  while word[0] not in vowels:
    word = word[1:] + word[0]
    return word + 'ay'

def mystery_function2(phrase):
  words = phrase.split()
  new_phrase = [mystery_function1(word) for word in words]
  return ' '.join(new_phrase)

mystery_function2('strawberry cheesecake')

'trawberrysay heesecakecay'



```
# WORKING WITH STRINGS
```

In [ ]:
# WORKING WITH STRINGS IN PYTHON
# STRINGS

# STRINGS CAN BE USED IN SINGLE OR DOUBLE QUOTES
# METHOD - FUNCTION THAT IS AVAILABLE IN PARTICULAR DATATYPE
# EXAMPLE variable.method()

# USING STRING REPLACE METHOD

ako = "Christian Drey S. Abusca"
ako = ako.replace("Christian", "Siya")
ako

'Siya Drey S. Abusca'

In [ ]:
# USING STRING METHOD TO MAKE A TEXT IN UPPER OR LOWERCASE
aso = "Boomiee"
aso = aso.lower()

pusa = "Cathy"
pusa = pusa.upper()
aso, pusa

('boomiee', 'CATHY')

In [ ]:
#MULTI-LINE STRINGS

# using triple double quotes can be used in having a multi-line string
# for example:

ako = """Metro Manila, comprised of 16 cities,
is a prime example of rapid
urbanization because of its tall
buildings and busy neighbourhoods. """

ako

'Metro Manila, comprised of 16 cities, \nis a prime example of rapid \nurbanization because of its tall \nbuildings and busy neighbourhoods. '

LIST

In [ ]:
#LISTS = STORE MULTIPLE VALUES IN A DATATYPE IN A SINGLE VARIABLE

prices = [10, 20, 30, 40, 50, 60]
type(prices)

# list are ordered
# to subsetting = list[index]
prices[4]

# finding the last element in a list
prices[-1]

# ACCESSING MULTIPLE ELEMENTS
# list[starting_element:last_element + 1]
prices[1:3]

# ACCESSING MULTIPLE ELEMENTS
prices[3:] # this will access the fourth index onwards
prices[:3] # starting to the fourth index

#ALTERNATINC ACCESS
prices[::2] #THIS HAS THE INTERVAL OF 2
prices[1::3] #ACCESS EVERY THIRD ELEMENT IN A LIST, STARTING AT THE SECOND INDEX

[10, 30, 50]

DICTIONARIES

In [ ]:
# DICTIONARIES
prices = [10, 20, 30, 40, 50, 60]
product_ids = ["AG32", "HT91", "PL65", "OS31", "KB07", "TR48"]

# dictionary = data structure of key-value pairs
# USEFUL SINCE KEY AND VALUES ARE ASSOCIATED

product_dict = {"AG32": 10,
                "HT91": 20,
                "PL65": 30,
                "OS31": 40,
                "KB07": 50,
                "TR48": 60}
product_dict

# finding a specific value of a product
product_dict["AG32"]

# finding all values
product_dict.values()

# finding all keys
product_dict.keys()

# finding all items
product_dict.items()

# VALUES IN PARETHESIS ARE KNOWN AS TUPLE

# UPDATE A DICTIONARY
product_dict["AG32"] = 100
product_dict

dict_keys(['AG32', 'HT91', 'PL65', 'OS31', 'KB07', 'TR48'])

In [ ]:
# SETS
# DATA STRUCTURE THAT stores unique information
# 1 INSTANCE OF A SET

# CAN ADD OR REMOVE VALUES BUT CANNOT CHANGE THEM

# SET = {}
# if it has : = Dictionary
# No : = Set

my_set = {"apple", "banana", "cherry", "mango", "malunggay", "apple", "mango"}
my_set

# CASTING - When converting a LIST into a SET
my_list = ["apple", "banana", "cherry", "mango", "malunggay", "apple", "mango"]
my_set2 = set(my_list) # THIS IS A SAMPLE OF CASTING
type(my_set2)
my_set2

# SETS DON'T HAVE AN INDEX
# SETS ARE UNORDERED

['apple', 'banana', 'cherry', 'malunggay', 'mango']

In [ ]:
# WHEN USING sorted() IT RETURNS THE SET INTO ALPHABETICAL ORDER
my_set2 = sorted(my_set2)
my_set2

['apple', 'banana', 'cherry', 'malunggay', 'mango']

In [ ]:
# TUPLE
# IMMUTABLE - CANNOT BE  CHANGED, CAN'T ADD,REMOVE OR CHANGE THE VALUE IN TUPLES
# TUPLES ARE ORDERED, WE CAN SUBSET BY INDEX
cities = ("Makati", "Taguig", "Quezon", "Muntinlupa", "Manila")
cities

In [ ]:
# WE CAN USE A FUNCTION TO CONVERT A LIST INTO A TUPLE
my_list = ["apple", "banana", "cherry", "mango", "malunggay", "apple", "mango"]
my_list_tuple = tuple(my_list)
my_list_tuple

('apple', 'banana', 'cherry', 'mango', 'malunggay', 'apple', 'mango')

In [ ]:
# WE CAN ACCESS AN ELEMENT BY SEARCHING FOR AN INDEX
my_list_tuple[3]

'mango'

CONDITIONAL STATEMENTS AND OPERATORS

In [ ]:
# CONDINTIONAL STATEMENTS AND OPERATORS

truth = True
print(truth)

# COMPARISON OPERATORS - COMBINATIONS OF SYMBOLS TO COMPARE THINGS

# == - TO CHECK THINGS IF THEY ARE EQUAL
# EXAMPLE
2 == 3 # FALSE

# != - TO CHECK THINGS FOR INEQUALITY
# EXAMPLE
2 != 3 # TRUE

5 < 7
5 <= 7
5 > 7
5 >= 7

# OTHER COMPARISONS
"James" > "Brian"

# conditional statements
# If True perform a task, otherwise, do nothing

sales_target = 350
units_sold = 355

if units_sold >= sales_target:
  print("You've achieved your sales target!")
elif units_sold >= 320:
  print("Target almost achieved")
else:
  print("You didn't achieve your sales target")

In [ ]:
# FOR LOOPS

# PRICES LIST
prices = [9.99, 8.99, 35.25, 1.50, 5.75]
prices[0] > 10

# for value in sequence:
#   action

for price in prices:
  if price > 10:
    print("More than $10")

  elif price < 5:
    print("Less than $5")

  else:
    print(price)

In [ ]:
# LOOPING IN STRINGS
username = "george_dc"

for char in username:
  print(char)

In [ ]:
product_dict = {"AG32": 87.99,
                "HT91": 21.50,
                "PL65": 43.75,
                "OS31": 19.99,
                "KB07": 62.95,
                "TR48": 98.0}
# USING FOR LOOPS IN KEYS AND VALUES

for key, val in product_dict.items():
  print(key, val) # FOR KEYS AND VALUES

for key in product_dict.keys():
  print(key) # FOR KEYS

for val in product_dict.values():
  print(val) # FOR VALUES

AG32 87.99
HT91 21.5
PL65 43.75
OS31 19.99
KB07 62.95
TR48 98.0

In [ ]:
# BUILT IN FUNCTION
# RANGE
# range(start, end + 1)
# start = inclusive
# end = not inclusive

# EXAMPLE

for i in range(1,6):
  print(i)

visits = 0

for i in range(1,11):
  visits += 1 # SAME AS VISITS = VISITS + 1

print(visits)

1
2
3
4
5
10

In [ ]:
user_ids = ["T42YG4KTK", "VTQ39IDQ0", "CRL11YUWX",
            "K6Y5URXLR", "V4XCBER7V", "IOGQWC61K"]

# Loop through user_ids
for user_id in user_ids:
  # Print the user_id
  print(user_id)

In [ ]:
# Create the tickets_sold variable
tickets_sold = 0

# Create the max_capacity variable
max_capacity = 30

# Loop through a range up to and including max_capacity's value
for i in range(1, max_capacity + 1):
  # Add one to tickets_sold in each iteration
  tickets_sold += 1

print("Sold out:", tickets_sold, "tickets sold!")

Sold out: 30 tickets sold!

In [ ]:
courses = {"LLM Concepts": "AI",
           "Introduction to Data Pipelines": "Data Engineering",
           "AI Ethics": "AI",
           "Introduction to dbt": "Data Engineering",
           "Writing Efficient Python Code": "Programming",
           "Introduction to Docker": "Programming"}

# Loop through the dictionary's keys and values
for key, value in courses.items():

  # Check if the value is "AI"
  if value == "AI":
    print(key, "is an AI course")

  # Check if the value is "Programming"
  elif value == "Programming":
    print(key, "is a Programming course")

  # Otherwise, print that it is a "Data Engineering" course
  else:
    print(key, "is a Data Engineering course")

LLM Concepts is an AI course
Introduction to Data Pipelines is a Data Engineering course
AI Ethics is an AI course
Introduction to dbt is a Data Engineering course
Writing Efficient Python Code is a Programming course
Introduction to Docker is a Programming course

In [ ]:
# WHILE LOOPS
# SYNTAX OF WHILE LOOP

# while condition:
#   action

# USEFUL FOR CONTINOUS TASK
# ACCELERATE WHILE A BUTTON IS PRESSED

stock = 10

num_purchases = 0

# WHILE num_purchases < stock limit
while num_purchases < stock:
  # INCREMENT num_purchases
  num_purchases +=1
  # PRINT REMAINING STOCK
  print("Remaining stock:", stock - num_purchases)

# WE COULD use the "break" if we want to while loop to do it once

Remaining stock: 9
Remaining stock: 8
Remaining stock: 7
Remaining stock: 6
Remaining stock: 5
Remaining stock: 4
Remaining stock: 3
Remaining stock: 2
Remaining stock: 1
Remaining stock: 0

In [ ]:
stock = 10

num_purchases = 0

# WHILE num_purchases < stock limit
while num_purchases < stock:
  # INCREMENT num_purchases
  num_purchases +=1
  # PRINT REMAINING STOCK
  if stock - num_purchases > 7:
    print("Plenty of stock remaining")
  elif stock - num_purchases > 3:
    print("Some stock remaining")
  else:
    print("Low stock remaining")

Plenty of stock remaining
Plenty of stock remaining
Some stock remaining
Some stock remaining
Some stock remaining
Some stock remaining
Low stock remaining
Low stock remaining
Low stock remaining
Low stock remaining

In [ ]:
# BUILDING A WORKFLOW
# COMPLEX WORKFLOWS

# THE "in" KEYWORD
# in = check if a value is in a variable/data structure
product_dict = {"AG32": 10,
                "HT91": 20,
                "PL65": 30,
                "OS31": 40,
                "KB07": 50,
                "TR48": 60}
product_dict

if "OS31" in product_dict.keys():
  print("True")
else:
  print("False")

# THE "not" KEYWORD
# not = check if a condition is not met
# EXAMPLE:

if "OS31" not in product_dict.keys():
  print("True")
else:
  print("False")

# THE "and" KEYWORD
# and = check if multiple conditions are met

if "HT91" in product_dict.keys() and min(product_dict.values()) > 5:
  print("True")
else:
  print("False")

# THE "or" KEYWORD
# or = check if one (or more) condition is met
if "HT91" in product_dict.keys() or min(product_dict.values()) > 10:
  print("True")
else:
  print("False")

True
False
True
True

In [ ]:
# ADDING/SUBTRACTING from variables
# combine keywords wih other techniques to build complex workflows

sales_count = 0
for sale in range (1, 10):
  sales_count += 1
  print("Total sales:", sales_count)

stock = 10
for sale in range (1, 10):
  stock -= 1
  print("Remaining stock:", stock)

Total sales: 1
Total sales: 2
Total sales: 3
Total sales: 4
Total sales: 5
Total sales: 6
Total sales: 7
Total sales: 8
Total sales: 9

In [ ]:
# APPENDING
# STORE INFORMATION THAT MEETS SPECIFIC CRITERIA IN A LIST

expensive_products = []

for key, val in product_dict.items():
  # CHECK IF PRICE IS 20 OR MORE
  if val >= 20:
    # APPEND THE product ID to the list
    expensive_products.append(key)

expensive_products

['HT91', 'PL65', 'OS31', 'KB07', 'TR48']

# **INTERMEDIATE PYTHON FOR DEVELOPERS**

In [ ]:
# BUILT-IN FUNCTIONS

# max() and min()
sales = [125.97, 84.32, 99.78, 154.21, 78.50,
         83.67, 111.13, 140.25, 95.30, 120.45,
         88.60, 132.75, 145.99, 102.34, 110.50,
         75.89, 90.47, 100.68, 125.44, 115.22]

max(sales) # FINDING THE MAXIMUM (HIGHEST) VALUE
min(sales) # FINDING THE MINIMUM (SMALLEST) VALUE
total_sales = sum(sales) # SUMMING UP ALL THE SALES
round(total_sales, 2) # ROUNDING UP TO 2 DECIMAL PLACES

2181.46

In [ ]:
#CALLING A FUNCTION INSIDE A FUNCTION

sales = [125.97, 84.32, 99.78, 154.21, 78.50,
         83.67, 111.13, 140.25, 95.30, 120.45,
         88.60, 132.75, 145.99, 102.34, 110.50,
         75.89, 90.47, 100.68, 125.44, 115.22]

total_sales = round(sum(sales), 2)
total_sales

2181.46

In [ ]:
# len()
# THIS COUNTS THE NUMBER OF ELEMENTS
len(sales)

20

In [ ]:
# CALCULATING THE AVERAGE SALES WITH SUM AND LEN
average_sales = round(total_sales/len(sales), 2)
average_sales

109.07

In [ ]:
# USING LEN ON STRINGS
len("Lorem ipsum dolor sit amet, consectetur adipiscing elit.")

# USING LEN TO FIND HOW MANY KEY-VALUE PAIRS ARE IN THE DICTIONARY
len({
    "name": "John Doe",
    "age": 21,
    "major": "Computer Science",
    "graduation_year": 2025,
    "gpa": 3.8
})

#len() also works with sets and tuples
# DOES NOT WORK with floats, integers, or booleans

5

In [ ]:
# SORTED
# sorted()
sales = [125.97, 84.32, 99.78, 154.21, 78.50,
         83.67, 111.13, 140.25, 95.30, 120.45,
         88.60, 132.75, 145.99, 102.34, 110.50,
         75.89, 90.47, 100.68, 125.44, 115.22]

sorted(sales) # THIS WILL SORT THE LIST IN ORDER

sorted(sales, reverse=True) # THIS WILL SORT THE LIST IN REVERSE

sorted("Drey")
# THIS WILL SORT THE STRING IN ALPHABETICAL ORDER

['D', 'e', 'r', 'y']

In [ ]:
# IF WANT TO GET MORE INFORMATION ABOUT FUNCTION
# use help(function)

help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [ ]:
sales = [125.97, 84.32, 99.78, 154.21, 78.50,
         83.67, 111.13, 140.25, 95.30, 120.45,
         88.60, 132.75, 145.99, 102.34, 110.50,
         75.89, 90.47, 100.68, 125.44, 115.22]

sales_count = 0

for sale in sales:
  sales_count += sale
  print(sales_count) # IF SUMS FUNCTION DOESNT EXIST

sum(sales)

125.97
210.29
310.07
464.28
542.78
626.4499999999999
737.5799999999999
877.8299999999999
973.1299999999999
1093.58
1182.1799999999998
1314.9299999999998
1460.9199999999998
1563.2599999999998
1673.7599999999998
1749.6499999999999
1840.12
1940.8
2066.24
2181.4599999999996

2181.4599999999996

# **MODULES**

In [ ]:
# MODULES - PYTHON SCRIPTS, FILES ENDING WITH .PY
# IT ALSO CONTAIN FUNCTIONS AND ATTRIBUTES, AND CONTAIN OTHER MODULES
# 200 BUILT-IN MODULES

# POPULAR MODULES
# os - for interpreting and interacting with the OS
# collections - advance data structure types and functions
# ls - list all files in a directory
# string - performing string operations
# logging - to log information when testing or running software
# subprocess - to run terminal commands within a python file

# IMPORTING A MODULE
# import <module name>
import os
type(os)

module

In [ ]:
# FINDING A MODULES FUNCTIONS
help(os)
# WE CAN USE THE FUNCTION OF THE MODULE BY FOLLOWING THESE SCHEMA
# os.<function>

word_dir = os.getcwd()

# CHANGING DIRECTORY
os.chdir("/content/sample_data")

# OS module also has attributes, and functions to perform  a tasks
#example
os.environ

# importing a single function from a module
# by following this schema
# example
from os import chdir, getcwd

# **PACKAGES**

In [ ]:
# PACKAGES
# Module = Python File
# PACKAGES - collections of modules
# ALSO KNOWN AS LIBRARY
# PACKAGES ARE PUBLICLY AVAILABLE AND FREE
# First need to be downloaded from PyPI (Python Package Index)

#installing a package from a temrinal
# TERMINAL - PROGRAM TO RUN COMMANDS IN OUR COMPUTER
# python3 -m pip install <package_name>
# python3 - Used to execute python code from terminal

# INSTALLING A PACKAGE
# python3 -m pip install pandas

# IMPORTING with an Alias
# example

import pandas as pd

sales_2 = {"used_id" : ["KM37", "PR19", "YU88"],
           "order_value" : [197.75, 208.21, 134.99]}

# USING PANDAS TO HAVE SALES IN TABULAR DATA OR DATAFRAME
sales_df = pd.DataFrame(sales_2)
sales_df

# SAVING THE DATA IN A CSV FILE
sales_df = pd.read_csv("sales.csv")
sales_df

# PREVIEW THE FIRST FIVE ROWS IN PANDAS
sales_df.head()

# FUNCTIONS VERSUS METHODS
# FUNCTION = CODE TO PERFORM A TASK
# METHOD = A FUNCTION THAT IS SPECIFIC TO A DATATYPE

  used_id  order_value
0    KM37       197.75
1    PR19       208.21
2    YU88       134.99

# **DEFINING A CUSTOM FUNCTION**

In [ ]:
# DEFINING A CUSTOME FUNCTION
sales = [125.97, 84.32, 99.78, 154.21, 78.50,
         83.67, 111.13, 140.25, 95.30, 120.45,
         88.60, 132.75, 145.99, 102.34, 110.50,
         75.89, 90.47, 100.68, 125.44, 115.22]

# CREATE A CUSTOME FUNCTIONS
# DONT REPEAT YOURSELF

def average(values):
  average_value = sum(values)/len(values) # THIS IS AN ARGUMENT
  rounded_value = round(average_value, 2) # THIS IS AN ARGUMENT
  return rounded_value # THIS IS TO RETURN AN OUTPUT
  # return round(average_value, 2) could also work
average_sales = average(sales)
average_sales

109.07

In [ ]:
# Create the clean_string function
def clean_string(text):

  # Replace spaces with underscores
  no_spaces = text.replace(" ", "_")

  # Convert to lowercase
  clean_text = no_spaces.lower()

  # Return the final text as an output
  return clean_text

converted_text = clean_string("I lOvE yOu sO mUCh!")
print(converted_text)

i_love_you_so_much!

In [ ]:
password = "not_very_secure_2023"

# Define the password_checker function
def password_checker(submission):

  # Check that the password variable and the submission match
  if submission == password:
    print("Successful login!")

  # Otherwise, print "Incorrect password"
  else:
    print("Incorrect password")
  return submission
# Call the function
password_checker("NOT_VERY_SECURE_2023")

# **DEFAULT AND KEYWORD ARGUMENTS**

In [ ]:
# POSITIONAL ARGUMENTS, which provide arguments in order seperated by comma
# EXAMPLE is the round(3.1432, 2)

# KEYWORD ARGUMENTS, requires to define
# each arguments value using its name keywords
# keyword = value

# Round pi to 2 digits
round(number = 3.1415926535, ndigits = 2)

# THERE IS ALSO AN ARGUMENT THAT IS DEFAULT
# DEFAULT ARGUMENT: WAY OF SETTING A DEFAULT VALUE FOR AN ARGUMENT
# EXAMPLE: the round() always havea  default for "ndigits" which is 0

3

In [ ]:
sales = [125.97, 84.32, 99.78, 154.21, 78.50,
         83.67, 111.13, 140.25, 95.30, 120.45,
         88.60, 132.75, 145.99, 102.34, 110.50,
         75.89, 90.47, 100.68, 125.44, 115.22]

# CREATE A CUSTOME FUNCTIONS
# DONT REPEAT YOURSELF

def average(values, rounded = False):
  if rounded == True:
    average_value = sum(values)/len(values) # THIS IS AN ARGUMENT
    rounded_value = round(average_value, 2) # THIS IS AN ARGUMENT
    return rounded_value # THIS IS TO RETURN AN OUTPUT
  else:
    average_value = sum(values)/len(values) # THIS IS AN ARGUMENT
    return average_value # THIS IS TO RETURN AN OUTPUT
  # return round(average_value, 2) could also work
average_sales = average(sales, True)
average_sales

109.07

In [ ]:
# Create the convert_data_structure function
def convert_data_structure(data, data_type = "list"):

  # If data_type is "tuple"
  if data_type == "tuple":
    data = tuple(data)

  # Else if data_type is set, convert to a set
  elif data_type == "set":
    data = set(data)
  else:
    data = list(data)
  return data

# Call the function to convert to a set
convert_data_structure({"a", 1, "b", 2, "c", 3}, data_type="set")

{1, 2, 3, 'a', 'b', 'c'}

In [ ]:
# OWN PROBLEMS

# PROBLEM 1
def calculate_total_price(prices, tax_rate):
  total_price = sum(prices) + (sum(prices) * (tax_rate/100))
  return round(number = total_price, ndigits = 2)

prices = [100, 200, 300]
tax_rate = 10

calculate_total_price(prices, tax_rate)

660.0

In [ ]:
text = "ChIsTian DrEy iS cUtE!"
vowels = ["a", "e", "i", "o", "u"]

def count_vowels(text):
  text = text.lower()
  count = 0
  for letter in text:
    if letter in vowels:
      count += 1
  return count

count_vowels(text)

7

In [ ]:
text = "A man, a plan, a canal, Panama"

def is_palindrome(text):
  text = text.lower().replace(" ", "").replace(",", "")
  if text == text[::-1]:
    return True
  else:
    return False

if is_palindrome(text) == True:
  print(text, "is a palindrome")
else:
  print(text, "is not a palindrome")

A man, a plan, a canal, Panama is a palindrome

# **DOCSTRINGS**

In [ ]:
# DOCSTRINGS

# DOCSTRINGS - STRING (BLOCK OF TEXT) BDESCRIBING A FUNCTION
# DOCSTRING HELPS USER HOW TO USE A FUNCTION
round.__doc__ #__doc__ is called "dunder-doc" attribute

'Round a number to a given precision in decimal digits.\n\nThe return value is an integer if ndigits is omitted or None.  Otherwise\nthe return value has the same type as the number.  ndigits may be negative.'

In [ ]:
# USING DOCSTRING TO THE PAST sales data
# DEFINING A CUSTOME FUNCTION
sales = [125.97, 84.32, 99.78, 154.21, 78.50,
         83.67, 111.13, 140.25, 95.30, 120.45,
         88.60, 132.75, 145.99, 102.34, 110.50,
         75.89, 90.47, 100.68, 125.44, 115.22]

# CREATE A CUSTOME FUNCTIONS
# DONT REPEAT YOURSELF

def average(values):
  """Find the mean in a sequence of values and round to two decimal places"""
  average_value = sum(values)/len(values)
  rounded_value = round(average_value, 2)
  return rounded_value
average_sales = average(sales)
average_sales

average.__doc__

'Find the mean in a sequence of values and round to two decimal places'

In [ ]:
# We could assign another value in the average.__doc__ by:

average.__doc__ = "Calculate the mean of value in a data structure, rounding the results to 2 digits"

In [ ]:
# EXAMPLE OF A DOCSTRING

# Create the convert_data_type function
def convert_data_structure(data, data_type="list"):
  # Add a multi-line docstring
  """
  Convert a data structure to a list, tuple, or set.

  Args:
  	data (list, tuple, or set): A data structure to be converted.
    data_type (str): String representing the type of structure to convert data to.

  Returns:
  	data (list, tuple, or set): Converted data structure.
  """
  if data_type == "tuple":
    data = tuple(data)
  elif data_type == "set":
    data = set(data)
  else:
    data = list(data)
  return data

print(help(convert_data_structure))

Help on function convert_data_structure in module __main__:

convert_data_structure(data, data_type='list')
    Convert a data structure to a list, tuple, or set.

    Args:
          data (list, tuple, or set): A data structure to be converted.
      data_type (str): String representing the type of structure to convert data to.

    Returns:
          data (list, tuple, or set): Converted data structure.

None

# **Arbitrary Arguments**

In [ ]:
# ARBITRARY ARGUMENTS

# ADDING FLEXIBILITY TO CUSTOM FUNCTIONS
# ARBITRARY POSITION ARGUMENTS
# ARBITRARY KEYWORD ARGUMENTS

# ARBITRARY ARGUMENTS ALLOW FUNCTIONS TO ACCEPT ANY NUMBER OF ARGUMENTS

In [ ]:

# Allow any number of positional, non-keyword arguments
def average(*args):
  average_value = sum(args)/len(args)
  rounded_value = round(average_value, 2)
  return rounded_value

average(15, 29, 4, 13, 11, 8)

# Args create a single iterable
# * : Convert arguments to a single iterable (tuple)

13.33

In [ ]:
# Arbitrary keyword arguments
# Arbitrary keyword argument: **kwargs
# keyword = value
def average(**kwargs):
  average_value = sum(kwargs.values())/len(kwargs.values())
  rounded_value = round(average_value, 2)
  return rounded_value

average(a=15, b=29, c=4, d=13, e=11, f=8)

# CALLING AVERAGE WITH ONE KWARG
average(**{"a": 15, "b": 29, "c": 4, "d": 13, "e": 11, "f": 8})

# ** : Convert keyword arguments to a single dictionary

# KWARGS CREATE A SINGLE ITERABLE
# CALLING AVERAGE WITH THREE KWARGS
average(**{"a":15, "b":29}, **{"c":4, "d":13}, **{"e":11, "f":8})

13.33

In [ ]:
# EXAMPLE FOR ARGS
# Define a function called concat
def concat(*args):

  # Create an empty string
  result = ""

  # Iterate over the Python args tuple
  for arg in args:
    result += " " + arg
  return result

# Call the function
print(concat("Python", "is", "great!"))

In [ ]:
# Define a function called concat
def concat(**kwargs):

  # Create an empty string
  result = ""

  # Iterate over the Python kwargs
  for kwarg in kwargs.values():
    result += " " + kwarg
  return result

# Call the function
print(concat(start="Python", middle="is", end="great!"))

 Python is great!

In [ ]:
def sum_numbers(*args):
  return sum(args)

sum_numbers(1, 2, 3, 4, 5)

15

In [ ]:
def display_info(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

# Call the function
display_info(name="Alice", age=25, city="Wonderland")

name: Alice
age: 25
city: Wonderland

In [ ]:
def mix_arguments(greeting, *args, **kwargs):
    print(greeting)
    print("Positional arguments:", args)
    print("Keyword arguments:", kwargs)

# Call the function
mix_arguments("Welcome", "Alice", "Bob", age=30, location="Wonderland")

Welcome
Positional arguments: ('Alice', 'Bob')
Keyword arguments: {'age': 30, 'location': 'Wonderland'}

In [ ]:
def build_profile(*args, **kwargs):
  print('first_name:', args)
  for key, value in kwargs.items():
    print(f"{key}: {value}")
build_profile("Alice", age=30, city="Wonderland", hobby="Painting")

first_name: ('Alice',)
age: 30
city: Wonderland
hobby: Painting

In [ ]:
def build_profile(first_name, **kwargs):
    profile = {"first_name": first_name}  # Start with the required argument
    profile.update(kwargs)               # Add additional information
    return profile

# Test
result = build_profile("Alice", age=30, city="Wonderland", hobby="Painting")
print(result)

{'first_name': 'Alice', 'age': 30, 'city': 'Wonderland', 'hobby': 'Painting'}

In [ ]:
def filter_even(*args):
  evens = []
  for i in args:
    if i % 2 == 0:
      evens.append(i)
  return evens
filter_even(1, 2, 3, 4, 5, 6, 7, 8)

[2, 4, 6, 8]

In [ ]:

def custom_greet(*args, **kwargs):
  for i in args:
    print(f"Hello {i}")
  for key, value in kwargs.items():
    print(f"Hello, {key}! {value}")

custom_greet("Alice", "Bob", "Charlie", Alice="How are you?", Charlie="Good to see you!")

Hello Alice
Hello Bob
Hello Charlie
Hello, Alice! How are you?
Hello, Charlie! Good to see you!

In [ ]:
def custom_greet(*args, **kwargs):
    for name in args:
        if name in kwargs:
            # Greet with a custom message if provided
            print(f"Hello, {name}! {kwargs[name]}")
        else:
            # Generic greeting if no custom message
            print(f"Hello, {name}!")

# Test
custom_greet("Alice", "Bob", "Charlie", Alice="How are you?", Charlie="Good to see you!")

Hello, Alice! How are you?
Hello, Bob!
Hello, Charlie! Good to see you!

# **LAMBDA FUNCTIONS**

In [ ]:
# LAMBDA FUNCTIONS

sales = [125.97, 84.32, 99.78, 154.21, 78.50,
         83.67, 111.13, 140.25, 95.30, 120.45,
         88.60, 132.75, 145.99, 102.34, 110.50,
         75.89, 90.47, 100.68, 125.44, 115.22]

# CREATE A CUSTOME FUNCTIONS
# DONT REPEAT YOURSELF

def average(values):
  """Find the mean in a sequence of values and round to two decimal places"""
  average_value = sum(values)/len(values)
  rounded_value = round(average_value, 2)
  return rounded_value
average_sales = average(sales)
average_sales

109.07

In [ ]:
# lambda keyword
# IT REPRESENTS AN ANONYMOUS FUNCTION
# lambda argument(s): expression
# Conversion is to use x for a single argument
# the expression is the equivalent of the function body

(lambda x: sum(x)/len(x))([3, 6, 9])

# STORING A LAMBDA FUNCTION AS A VARIABLE IF YOU'RE GOING TO USE IT MORE THAN
# ONCE
average = lambda x: sum(x)/len(x)
average([3, 6, 9])

# WE CAN USE lambda function with two arguments
(lambda x, y: x**y)(2,3)

# Lambda functions with iterables
# We need to use lambda inside python's map() function
# map() applies a function to all elements in an iterable

names = ["christian", "koiso", "poli"]
capitalize = map(lambda x: x.capitalize(), names)
# CONVERT IT TO A LIST TO SEE THE OUTPUT
list(capitalize)

upper = map(lambda x: x.upper(), names)
list(upper)

# WHEN TO USE the lambda functions over the custom functions
# IF THE FUNCTION IS COMPLEX, SAME TASK SEVERAL TIMES,
# WE WILL USE THE CUSTOM FUNCTION
# BUT IF THE TASK IS SIMPLE AND ONLY PERFORMED ONCE
# USE lambda functions

['CHRISTIAN', 'KOISO', 'POLI']

# **INTRODUCTION TO ERRORS**

In [ ]:
# INTRODUCTION TO ERRORS
# An error is a code that violates one or more rules
# errors = exception
# It cause or code to terminate

# Type Error
# when you use incorrect data type
# Example
"Hello" + 5

# Value Error
float("Hello") # The value is not acceptable in an acceptable range
# Tracebacks - A report that provide what type of error occured and where

# Code in packages
# Code in the packages ar eknown as source code

# Tracebacks from packages
# Example
import pandas as pd
products = pd.DataFrame({"ID":"ABC1", "price":29.99})
products["tag"] # this will have a huge traceback

# ERROR HANDLING IN CUSTOM FUNCTIONS
# there is an except, raise if an error occurs in pandas
# Design-thinking

sales_dict = {"cust_id":["JL93", "MT12", "IY64"],
              "order_value": [43.21, 68.70, 82.19]}
average(sales_dict)

# ERROR-HANDLING TECHNIQUES
# control flow, if elif and else
# Docstrings
# try-except

def average(values):
  try:
    average_value = sum(values)/len(values)
    rounded_value = round(average_value, 2)
    return rounded_value
  except:
    print("average() accepts")

# USING raise
def average(values):
  if

In [ ]:
def snake_case(text):
  # Check the data type
  if type(text) == str:
    clean_text = text.replace(" ", "_")
    clean_text = clean_text.lower()
  else:
    # Return a TypeError error if the wrong data type was used
    raise TypeError("The snake_case() function expects a string as an argument, please check the data type provided.")

snake_case("User Name 187")

In [ ]:
def twoSum(self, nums, target):
        """
        :type nums: List[int]
        :type target: int
        :rtype: List[int]
        """

In [ ]:
nums = [3, 5, 1, 4, -8]

def twoSum(self, nums, target):
  """
  :type nums: List[int]
  :type target: int
  :rtype: List[int]
  """
  for i in range(len(nums)):
    for j in range(i+1, len(nums)):
      if nums[i] + nums[j] == target:
        return [i, j]
  return []

TypeError: twoSum() missing 2 required positional arguments: 'nums' and 'target'

In [ ]:
def hi_low(num):
  num = num.split()
  for i in range(len(num)):
    num[i] = int(num[i])
  return str(max(num)) + ' ' + str(min(num))

hi_low("26")

'26 26'

In [ ]:
def hi_low(num):
    # Convert the number to a string to make it iterable
    num_str = str(num)
    # Convert each character to an integer
    num_list = [int(digit) for digit in num_str]
    # Find the maximum and minimum values
    highest = max(num_list)
    lowest = min(num_list)
    return f"{highest} {lowest}"

print(hi_low(762))

7 2